@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  transition: 0.2s;
}

html {
  overflow: hidden;
}

body {
  background-color: #fcfcfc;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  main {
    width: calc(100vw - 1rem);
    height: calc(100vh - 1rem);
    border: 1px solid #868686;
    position: relative;
    left: 0.5rem;
    top: 0.5rem;
    border-radius: 0.5rem;
    overflow-y: scroll;
    background-image: url(/ui/grain.png);
    scrollbar-width: none;
  }
  main > nav {
    position: sticky;
    border-bottom: 1px solid #868686;
    top: 0;
    height: 3rem;
    padding: 0.3333333333rem;
    display: flex;
    background-image: url(/ui/grain.png);
  }
  main > nav > #nav_left {
    display: flex;
    height: 100%;
    gap: 0.5rem;
  }
  main > nav > #nav_left > #nav_logo_div {
    height: 100%;
    aspect-ratio: 1/1;
  }
  main > nav > #nav_left > #nav_logo_div > img {
    width: 100%;
    height: 100%;
  }
  main > nav > #nav_left > h1 {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  main > nav > #nav_left > h1::after {
    content: "studio";
    font-size: 0.9rem;
    position: absolute;
    right: -3.3rem;
    bottom: 0.5rem;
    padding: 0 0.4rem;
    padding-bottom: 0.1rem;
    border-radius: 0.2rem;
    background-color: #ff3e00;
    display: flex;
    align-items: center;
    line-height: 100%;
  }
  main > .main_part {
    height: 200vh;
    padding: 1rem 1rem;
  }
  main > .main_part#main_part_1 {
    padding-top: 10rem;
  }
  main > .main_part#main_part_1 > .banner > h1 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .globe_wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding-left: 20rem;
    padding-top: 20rem;
    overflow: hidden;
  }
  .globe_wrapper .globe {
    width: 30rem;
    height: 30rem;
    position: absolute;
    bottom: 0rem;
    right: -15rem;
    background-color: #ff3e00;
    z-index: -2;
    border-radius: 50%;
    box-shadow: 0 0 100px #ff3e00;
  }
  @keyframes godrays {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
  .godrays {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );
    --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;
    filter: invert(100%);
    -webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
            mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
    pointer-events: none;
    opacity: 0.3;
    z-index: -1;
  }
  .godrays::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: godrays 80s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}/*# sourceMappingURL=style.css.map */