// imports 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// exception

.opacityZero{
    opacity: 0;
}



// variables

$white:#ffffff;
$lightgray:#fcfcfc;
$darkgray:#868686;
$gray:#cccccc;
$darkestgray:#2e2e2e;
$black:#0a0a0a;
$orange:#ff3e00;
$gap:1rem;
$halfgap:calc($gap/2);
$borrad:.5rem;

// general

button{
    background: none;
    outline: none;
    border: none;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    transition: .2s;
}

html{
    overflow: hidden;
}

body{
    background-color: $lightgray;
    // background-image: url(/ui/grain.png);
    overflow: hidden;
    position: relative;
    height: 100vh;


      

}



// real classes

// an 1
.text_animation_1{
    >span{
        position: relative;
        left: -1rem;
        opacity: 0;

        &:nth-child(1){transition-delay: .15s !important;}
        &:nth-child(2){transition-delay: .3s !important;;}
        &:nth-child(3){transition-delay: .45s !important;;}
        &:nth-child(4){transition-delay: .6s !important;;}
        &:nth-child(5){transition-delay: .75s !important;;}
        &:nth-child(6){transition-delay: .9s !important;;}
        &:nth-child(7){transition-delay: 1.05s !important;;}
        &:nth-child(8){transition-delay: 1.20s !important;;}
        &:nth-child(9){transition-delay: 1.35s !important;;}
        &:nth-child(10){transition-delay: 1.50s !important;;}
        &:nth-child(11){transition-delay: 1.65s !important;;}
        &:nth-child(12){transition-delay: 1.80s !important;;}
        &:nth-child(13){transition-delay: 1.95s !important;;}
        &:nth-child(14){transition-delay: 2.10s !important;;}
        &:nth-child(15){transition-delay: 2.25s !important;;}
        &:nth-child(16){transition-delay: 2.40s !important;;}
        &:nth-child(17){transition-delay: 2.55s !important;;}
        &:nth-child(18){transition-delay: 2.70s !important;;}
        &:nth-child(19){transition-delay: 2.85s !important;;}
        &:nth-child(20){transition-delay: 3s !important;;}
    }

    &.an1_activated{

        >span{
            transition: 1.5s;
            left: unset;
            opacity: 1;
        }
       
    }


}

@media screen and (min-width: 0px) and (max-width: 600px)  {

    main{

        


        width: calc(100vw - $gap);
        height: calc(100vh - $gap);
        border: 1px solid $darkgray;
        position: relative;
        left: $halfgap;
        top: $halfgap;
        border-radius: $borrad;
        overflow-y: scroll;
        background-image: url(/ui/grain.png);
        scrollbar-width: none;
        transition: .6s;
        

        &.main_disabled{
            transition: .4s;
            
            left: -100%;
        }

        &:has(.nav_black){
            border: 1px solid $black;
        }

        >nav{
            position: sticky;
            border-bottom: 1px solid $darkgray;
            top: 0;
            height: 3.5rem;
            padding: calc($gap/3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: $lightgray;
            background-image: url(/ui/grain.png);
            // backdrop-filter: blur(10px);
            z-index: 9;

            >#nav_left{
                display: flex;
                align-items: center;
                height: 100%;
                gap: $halfgap;
                padding-left: .3rem;
                

                >#nav_logo_div{
                    height: 65%;
                    aspect-ratio: 1/1;

                    >svg{
                        .cls-1 {
                            fill: none;
                            stroke: #000;
                            stroke-miterlimit: 10;
                            stroke-width: 5px;
                          }

                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                        animation: navLogoAn 5s linear infinite;

                        
                        @keyframes navLogoAn {
                            0%{stroke-dashoffset: 1000;}
                            100%{stroke-dashoffset: 0;}
                        }
                        
                    }
                }

                >h1{
                    font-size: 1.3rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;

                    &::after{
                        content: "studio";
                        font-size: .9rem;
                        position: absolute;
                        right: -100%;
                        top: 50%;
                        transform: translateY(-40%);
                        padding: .1rem .4rem;
                        // padding-bottom: .1rem;
                        padding-top: .05rem;
                        border-radius: .2rem;
                        background-color: $orange;
                        display: flex;
                        align-items: center;
                        line-height: 100%;
                        box-shadow: 0 0 7px $orange;
                        background-image: url(/ui/grain.png);
                    }
            




                }


            }

            >#nav_right{
                height: 100%;

                >#menu_open_button{

                    // border-left: 1px solid $darkgray;

                    height: 100%;
                    aspect-ratio: 1.3/1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    gap: .5rem;
                    padding: .5rem;
                    >span{
                        display: inline-block;
                        height: 3px;
                        width: 100%;
                        background-color: $darkestgray;
                        border-radius: 5px;

                        &:nth-last-child(1){
                            width: 70%;
                        }

                    }

                }
            }

            &.nav_black{
                background-color: transparent;
                color: $lightgray;
                border-bottom: 1px solid $black;
                
                .cls1{
                    stroke: $lightgray !important;
                }
            }
        }

        >.main_part{
            padding: 1rem 1rem;
            position: relative;

            >.main_part_decoration{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -2;
                padding: .2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >div{
                    display: flex;
                    justify-content: space-between;
                    color:$darkgray;
                }
                
            }


            &#main_part_1{
                
                padding-top: 13rem;

                >.banner{
                    
                    position: sticky;


                    >h1{
                        width: 100%;
                        font-size: 7.7vw;
                        font-weight: 600;
                    }
                }
            }

            &#main_part_2{
                height: 100vh;
                width: 100%;
                position: sticky;
                top: 4rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                >.banner{
                    position: sticky;
                    top: 5rem;
                    height: 5%;
                    

                    >h1{
                        font-size: 7.7vw;
                        font-weight: 600;
                        opacity: 0;
                    }


                    &.activated{

                        >h1{
                            transition: .3s;
                            opacity: 1;
                        }
                    }

                    &.activated_2{
                        color: $white;
                    }
                }

                #part_2_banner_2{
                    height: 15%;
                    position: relative;
                    // margin-top: 4.5rem;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $lightgray;
                }

                #part_2_content{
                    position: relative;
                    // height: calc(60vh + 2rem);
                    height: 67%;
                    width: 100%;

                    >div{
                        height: calc(30vh + $halfgap);
                        width: calc(45.5% + $halfgap);
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: .5rem;
                        background-color: $lightgray;
                        border-radius: $borrad;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: .9rem;
                        transition: 1s;
                        position: relative;
                        opacity: 0;
                        
                        &:nth-child(1){
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        &:nth-child(2){
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        &:nth-child(3){
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                        &:nth-child(4){
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }

                        background:
                        conic-gradient(from 75deg,rgba(204,204,204,0.1)   15deg ,rgba(255, 255, 255, 0.1) 0 30deg ,#0000 0 180deg, rgba(255, 255, 255, 0.1) 0 195deg,rgba(204,204,204,0.1) 0 210deg,#0000 0) calc(0.5*30px) calc(0.5*30px/0.577),
                        conic-gradient(rgba(204,204,204,0.1)   30deg ,rgba(153,153,153,0.1) 0 75deg, rgba(204,204,204,0.1) 0 90deg, rgba(255, 255, 255, 0.1) 0 105deg, rgba(153,153,153,0.1) 0 150deg, rgba(255, 255, 255, 0.1) 0 180deg,rgba(153,153,153,0.1) 0 210deg, rgba(204,204,204,0.1) 0 256deg, rgba(255, 255, 255, 0.1) 0 270deg,rgba(204,204,204,0.1) 0 286deg, rgba(255, 255, 255, 0.1) 0 331deg,rgba(153,153,153,0.1) 0);
                        background-size: 30px calc(30px/0.577);



                        background-color: $lightgray;    

                        >div{
                            width: 100%;
                            aspect-ratio: 1/1;
                            background-color: gray;
                            border-radius: $borrad;
                            position: absolute;
                            bottom: 0;
                            right: 50%;
                            transform: translateX(50%);
                            transition: 1s;
                        }

                        >h2{
                            position: absolute;
                            height: 4rem;
                            top: 1rem;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                        }

                        >p{
                            width: 70%;
                            position: absolute;
                            top: 1rem;
                            right: .2rem;
                           
                        }


                        &.activated{
                          

                           

                            &.passivated{
                               
                               

                                

                                >div{           
                                    transition: .5s;                        
                                    height: unset;
                                    width: 100%;       
                                    bottom: 0;                             
                                    aspect-ratio: 1/1.2;

                                    

                                }

                                >h2{
                                    top: 1rem;
                                }
                                >p{
                                    animation: part_2_passive_par_an .3s linear forwards;
                                    @keyframes part_2_passive_par_an {
                                        0%{opacity: 1;}
                                        70%{opacity: 0;}
                                        100%{opacity: 0; display: none;}
                                    }
                                }
                            }
                        }
                        
                    }


                    &.activated{
                        >div{
                            animation: part_2_div_an .5s linear forwards;

                            &:nth-child(1){animation-delay: .3s;}
                            &:nth-child(2){animation-delay: .6s;}
                            &:nth-child(3){animation-delay: .9s;}
                            &:nth-child(4){animation-delay: 1.2s;}

                            @keyframes part_2_div_an {
                                from{opacity: 0;}
                                to{opacity: 1;}
                            }
                        }
                    }
                }

               
            }

            &#main_part_3{
                margin-top: 30rem;
                min-height: 100vh;
            }
        }

    }



    .globe_wrapper{
        width: calc(100vw - $gap);
        height: calc(100vh - $gap);
        position: absolute;
        bottom: $halfgap;
        right: $halfgap;
        padding-left: 20rem;
        padding-top: 20rem;
        overflow: hidden;
        border-radius: $borrad;

        #globe{
            width: 33rem;
            height: 33rem;
            position: absolute;
            bottom: -5rem;
            right: -15rem;
            background-color: $orange;
            z-index: -2;
            border-radius: 50%;
            box-shadow: 0 0 100px $orange;
            transition: .5s;

           &.globe_bigger{
            transition: 1s;
            width: 66rem;
            height: 66rem;
           }

            
        
        }
    }

    

    menu{
        padding: $halfgap;
        width: calc(100vw - $gap);
        height: calc(100vh - $gap);
        position: fixed;
        left: 105%;
        top: $halfgap;
        background-color: #00000096;
        color:$white;
        border: .5rem;
        border: 1px solid $darkestgray;
        border-radius: .5rem;
        transition: .5s;
        

        &.menu_open{
             left: $halfgap !important;
             transition: .6s;

          
        }


        >.menu_bar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.5rem;


            >.menu_bar_right{
                height: 95%;
                aspect-ratio: 1/1;

                >button{
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    padding: .9rem;
                    border-radius: 8px;
                    border: 1px solid $darkgray;

                    >svg{
              

                        .cls-1 {
                            fill: none;
                            stroke: $orange;
                            stroke-miterlimit: 10;
                            stroke-width: 5px;
                        }


                    }
                }
            }
        }

    }

    


    // import

    
    @keyframes godrays {
        from {
            background-position: 50% 50%, 50% 50%;
        }
        to {
            background-position: 350% 50%, 350% 50%;
        }
    }

    .godrays {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );

    
        --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
        background-image: var(--stripes), var(--rainbow);
        background-size: 300%, 200%;
        background-position: 50% 50%, 50% 50%;
        filter: invert(100%);
        mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
        pointer-events: none;
        opacity: .3;
        z-index: -1;
    }

    .godrays::after {
        content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: godrays 80s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
    }

    

    

}



@media screen and (min-width: 600px) and (max-width: 1024px)  {

    
    

}
