// imports 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// exception

.opacityZero{
    opacity: 0;
}



// variables

$white:#ffffff;
$lightgray:#fcfcfc;
$darkgray:#868686;
$gray:#cccccc;
$darkestgray:#2e2e2e;
$black:#0a0a0a;
$orange:#ff3e00;
$gap:1rem;
$halfgap:calc($gap/2);
$borrad:.5rem;

// general

button{
    background: none;
    outline: none;
    border: none;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    transition: .2s;
}

html{
    overflow: hidden;
}

body{
    background-color: $lightgray;
    // background-image: url(/ui/grain.png);
    overflow: hidden;
    position: relative;
    height: 100vh;


      

}



// real classes

// an 1
.text_animation_1{
    >span{
        position: relative;
        left: -1rem;
        opacity: 0;
        transition: .2s;
        transition-delay: 0;

       
    }

    &.an1_activated{

        >span{
            &:nth-child(1){transition-delay: .15s !important;}
            &:nth-child(2){transition-delay: .3s !important;;}
            &:nth-child(3){transition-delay: .45s !important;;}
            &:nth-child(4){transition-delay: .6s !important;;}
            &:nth-child(5){transition-delay: .75s !important;;}
            &:nth-child(6){transition-delay: .9s !important;;}
            &:nth-child(7){transition-delay: 1.05s !important;;}
            &:nth-child(8){transition-delay: 1.20s !important;;}
            &:nth-child(9){transition-delay: 1.35s !important;;}
            &:nth-child(10){transition-delay: 1.50s !important;;}
            &:nth-child(11){transition-delay: 1.65s !important;;}
            &:nth-child(12){transition-delay: 1.80s !important;;}
            &:nth-child(13){transition-delay: 1.95s !important;;}
            &:nth-child(14){transition-delay: 2.10s !important;;}
            &:nth-child(15){transition-delay: 2.25s !important;;}
            &:nth-child(16){transition-delay: 2.40s !important;;}
            &:nth-child(17){transition-delay: 2.55s !important;;}
            &:nth-child(18){transition-delay: 2.70s !important;;}
            &:nth-child(19){transition-delay: 2.85s !important;;}
            &:nth-child(20){transition-delay: 3s !important;;}


            transition: 1.5s;
            left: unset;
            opacity: 1;
        }
       
    }


}

@media screen and (min-width: 0px) and (max-width: 600px)  {

    main{
        width: calc(100vw - $gap);
        height: calc(100vh - $gap);
        border: 1px solid $darkgray;
        position: relative;
        left: $halfgap;
        top: $halfgap;
        border-radius: $borrad;
        overflow-y: scroll;
        background-image: url(/ui/grain.png);
        scrollbar-width: none;
        transition: .6s;
        

        &.main_disabled{
            transition: .4s;
            
            left: -100%;
        }

        &:has(.nav_black){
            border: 1px solid $black;
        }

        >nav{
            position: sticky;
            border-bottom: 1px solid $darkgray;
            top: 0;
            height: 3.5rem;
            padding: calc($gap/3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: $lightgray;
            background-image: url(/ui/grain.png);
            // backdrop-filter: blur(10px);
            z-index: 9;

            >#nav_left{
                display: flex;
                align-items: center;
                height: 100%;
                gap: $halfgap;
                padding-left: .3rem;
                

                >#nav_logo_div{
                    height: 65%;
                    aspect-ratio: 1/1;

                    >svg{
                        .cls-1 {
                            fill: none;
                            stroke: #000;
                            stroke-miterlimit: 10;
                            stroke-width: 5px;
                          }

                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                        animation: navLogoAn 5s linear infinite;

                        
                        @keyframes navLogoAn {
                            0%{stroke-dashoffset: 1000;}
                            100%{stroke-dashoffset: 0;}
                        }
                        
                    }
                }

                >h1{
                    font-size: 1.3rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;

                    &::after{
                        content: "studio";
                        font-size: .9rem;
                        position: absolute;
                        right: -100%;
                        top: 50%;
                        transform: translateY(-40%);
                        padding: .1rem .4rem;
                        // padding-bottom: .1rem;
                        padding-top: .05rem;
                        border-radius: .2rem;
                        background-color: $orange;
                        display: flex;
                        align-items: center;
                        line-height: 100%;
                        box-shadow: 0 0 7px $orange;
                        background-image: url(/ui/grain.png);
                    }
            




                }


            }

            >#nav_right{
                height: 100%;

                >#menu_open_button{

                    // border-left: 1px solid $darkgray;

                    height: 100%;
                    aspect-ratio: 1.3/1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    gap: .5rem;
                    padding: .5rem;
                    >span{
                        display: inline-block;
                        height: 3px;
                        width: 100%;
                        background-color: $darkestgray;
                        border-radius: 5px;

                        &:nth-last-child(1){
                            width: 70%;
                        }

                    }

                }
            }

            &.nav_black{
                background-color: transparent;
                color: $lightgray;
                border-bottom: 1px solid $black;
                
                .cls1{
                    stroke: $lightgray !important;
                }
            }
        }

        >.main_part{
            padding: 1rem 1rem;
            position: relative;

            >.main_part_decoration{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -2;
                padding: .2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >div{
                    display: flex;
                    justify-content: space-between;
                    color:$darkgray;
                }
                
            }


            &#main_part_1{
                
                padding-top: 13rem;

                >.banner{
                    
                    position: sticky;


                    >h1{
                        width: 100%;
                        font-size: 7.7vw;
                        font-weight: 600;
                    }
                }
            }

            &#main_part_2{
                height: 100vh;
                width: 100%;
                position: sticky;
                top: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                >.banner{
                    position: sticky;
                    top: 5rem;
                    height: 5%;
                    

                    >h1{
                        font-size: 7.7vw;
                        font-weight: 600;
                        opacity: 0;
                    }


                    &.activated{

                        >h1{
                            transition: .3s;
                            opacity: 1;
                        }
                    }

                    &.activated_2{
                        color: $white;
                    }
                }

                #part_2_banner_2{
                    margin-top: 20%;
                    height: 15%;
                    position: relative;
                    // margin-top: 4.5rem;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $lightgray;
                }

                #part_2_content{
                    position: relative;
                    // height: calc(60vh + 2rem);
                    height: 73%;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    justify-content: center;
                    gap: $gap;

                    >div{
                        height: 37%;
                        width: calc(45.5%);
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: .5rem;
                        border-radius: $borrad;
                        padding: 1rem;
                        // display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: .9rem;
                        transition: 1s;
                        position: relative;
                        opacity: 0;
                        
                        // &:nth-child(1){
                        //     position: absolute;
                        //     left: 0;
                        //     top: 0;
                        // }
                        // &:nth-child(2){
                        //     position: absolute;
                        //     right: 0;
                        //     top: 0;
                        // }
                        // &:nth-child(3){
                        //     position: absolute;
                        //     left: 0;
                        //     bottom: 0;
                        // }
                        // &:nth-child(4){
                        //     position: absolute;
                        //     right: 0;
                        //     bottom: 0;
                        // }

                        background: radial-gradient(circle, transparent 20%, #f9f9f9 20%, #f9f9f9 80%, transparent 80%, transparent) 0% 0% / 40px 40px, radial-gradient(circle, transparent 20%, #f9f9f9 20%, #f9f9f9 80%, transparent 80%, transparent) 20px 20px / 40px 40px, linear-gradient(#e2e2e2 1.5px, transparent 1.5px) 0px -0.75px / 20px 20px, linear-gradient(90deg, #e2e2e2 1.5px, #f9f9f9 1.5px) -0.75px 0px / 20px 20px #f9f9f9;
background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
                        background-color: $lightgray;



                        background-color: $lightgray;    

                        >div{
                            width: 100%;
                            aspect-ratio: 1/1;
                            border-radius: $borrad;
                            position: absolute;
                            bottom: 0;
                            right: 50%;
                            transform: translateX(50%);
                            transition: 1s;
                            flex-grow: 1;
                        }

                        >h2{
                            position: absolute;
                            // height: 4rem;
                            top: 1rem;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                        }

                        >p{
                            width: 70%;
                            position: absolute;
                            top: 1rem;
                            right: .2rem;
                           
                        }


                        &.activated{
                          

                           

                            &.passivated{
                               
                               

                                

                                >div{           
                                    transition: .5s;                        
                                    height: unset;
                                    width: 100%;       
                                    bottom: 0;                             
                                    aspect-ratio: 1/1.2;

                                    

                                }

                                >h2{
                                    top: 1rem;
                                }
                                >p{
                                    animation: part_2_passive_par_an .3s linear forwards;
                                    @keyframes part_2_passive_par_an {
                                        0%{opacity: 1;}
                                        70%{opacity: 0;}
                                        100%{opacity: 0; display: none;}
                                    }
                                }
                            }
                        }
                        
                    }


                    &.activated{
                        >div{
                            animation: part_2_div_an .5s linear forwards;

                            &:nth-child(1){animation-delay: .3s;}
                            &:nth-child(2){animation-delay: .6s;}
                            &:nth-child(3){animation-delay: .9s;}
                            &:nth-child(4){animation-delay: 1.2s;}

                            @keyframes part_2_div_an {
                                from{opacity: 0;}
                                to{opacity: 1;}
                            }
                        }
                    }

                    #part_2_c_1{

                        >div{
                            padding: 15%;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                            gap: 20%;

                            >div{
                                background-color: $orange;
                                position: absolute;

                                &:nth-child(1){
                                    height: 80%;
                                    width: 3px;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                &:nth-child(2){
                                    width: 80%;
                                    height: 3px;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateX(-50%) translateY(-50%);
                                }
                            }

                            >span{
                                display: inline-block;
                                width: 35%;
                                aspect-ratio: 1/1;
                                background-color: $orange;
                                box-shadow: 0 0 10px $orange;
                                border-radius: 5px;

                                &:nth-child(1){
                                    animation: p2_c1_a1 2s linear infinite;

                                    @keyframes p2_c1_a1 {
                                        0%{}
                                        100%{transform: translateX(100%);}
                                    }
                                }
                            }

                        }
                    }




                    // part 2 inside div animations

                    #part_2_c_1{
                        overflow: hidden;
                        .an_box{
                            
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding-bottom: 2rem;

                                $percent: 1%;
                                @for $i from 1 through 1000 {
                                   span:nth-of-type(#{$i}) {
                                     transition-delay: random() + s;
                                   }
                                }


                            >div{
                                display: inline-block;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                gap:.5rem;
                                position: relative;
                                
                                >div{
                                    transition-delay: 1s !important;
                                    transition: 2s;
                                    position: absolute;
                                    width: calc(100% + .5rem);
                                    height: 100%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    top: 0;
                                    border-left: 3px solid $orange;
                                    border-right: 3px solid $orange;
                                    border-radius: 2px;
                                }


                                // ::before{
                                //     content: "";
                                //     width: 3px;
                                //     height: 100%;
                                //     background-color: $orange;
                                //     position: absolute;
                                //     top: 0;
                                //     left: 0;
                                //     transition-delay: 2s;
                                //     transition: 1s;
                                // }
                                
                                


                                >span{
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    // border-radius: 2px;
                                    width: 3rem;
                                    height: 2rem;
                                    background-color: $black;
                                    // opacity: .7;
                                    transition: 1s;
                                    box-shadow: 0 0 5px $orange;
                                    color:$lightgray;
                                    font-size: .7rem;
                                    font-weight: 400;

                                    &:nth-child(1){background-color: $darkestgray;}
                                    &:nth-child(1){background-color: $darkgray;}
                                    &:nth-child(1){background-color: $gray;}
                                    &:nth-child(1){background-color: $black;}
                                    
                                }
                            }
                        }


                        &.activated_an{
                            >.an_box{

                                >div{
                                    
                                
                                    >div{
                                        transition-delay: 0s !important;
                                        transition:opacity .2s, height 1s;
                                        opacity: 0;
                                        height: 0%;


                                    }
                                   
                                       >span{
                                        transition: .5s;
                                       }
                                    

                                    &:nth-child(1){
                                        >span{
                                            &:nth-child(1){transform: translateX(-45%) translateY(24%);rotate: 10deg;}
                                            &:nth-child(2){transform: translateX(15%) translateY(-120%);rotate: 50deg;}
                                            &:nth-child(3){transform: translateX(25%) translateY(-27%);rotate: 90deg;}
                                            &:nth-child(4){transform: translateX(79%) translateY(-90%);rotate: 30deg;}
                                        }
                                    }

                                    &:nth-last-child(1){
                                        >span{
                                            &:nth-child(1){transform: translateX(45%) translateY(24%);rotate: 30deg;}
                                            &:nth-child(2){transform: translateX(-15%) translateY(120%);rotate: 10deg;}
                                            &:nth-child(3){transform: translateX(-25%) translateY(27%);rotate: 120deg;}
                                            &:nth-child(4){transform: translateX(-79%) translateY(90%);rotate: 80deg;}
                                        }
                                    }

                                    
                                }
                            }
                        }

                    }

                    #part_2_c_2{
                        position: relative;

                        $borderWidth:20px;
                        $diaLight:#8a8a8a;
                        $diaNormal:#202020;
                        $diaDark:#000;

                        .an_box{
                           position: relative;
                           top: 50%;
                           left: 50%;
                           width: $borderWidth * 4;
                           height: $borderWidth * 4;
                           transform: translate(-50%,-50%) rotate(45deg);

                           >span{
                            box-shadow: 3px 3px 3px $orange;

                            &:nth-child(1)
                            {
                                box-shadow: unset !important;
                            }
                           }

                           >span:nth-child(1){
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 0;
                            border-width: $borderWidth;
                            border-style: solid;
                            border-color: transparent $diaDark $diaNormal transparent ;
                           
                           }

                           >span:nth-child(2){
                            position: absolute;
                            top: 0;
                            left: $borderWidth * 2;
                            width: 0;
                            height: 0;
                            border-width: $borderWidth;
                            border-style: solid;
                            border-color: $diaNormal $diaDark $diaNormal $diaLight ;
                            animation: animateDiamond 2s linear infinite;
                            transition-delay: .2s;
                           }

                           >span:nth-child(3){
                            position: absolute;
                            top: $borderWidth * 2;
                            left: 0;
                            width: 0;
                            height: 0;
                            border-width: $borderWidth;
                            border-style: solid;
                            border-color: $diaNormal $diaDark $diaNormal $diaLight ;
                            animation: animateDiamond 2s linear infinite;
                            transition-delay: .4s;
                           }

                           >span:nth-child(4){
                            position: absolute;
                            top: $borderWidth * 2;
                            left: $borderWidth * 2;
                            width: 0;
                            height: 0;
                            border-width: $borderWidth;
                            border-style: solid;
                            border-color: $diaNormal $diaDark $diaNormal $diaLight ;
                            animation: animateDiamond 2s linear infinite;
                            transition-delay: .6s;
                           }
                           
                           @keyframes animateDiamond {
                            
                            0%{
                                border-color: $diaNormal $diaDark $diaNormal $diaLight ;
                            }
                            25%{
                                border-color: $diaLight $diaNormal $diaDark $diaNormal ;
                            }
                            50%{
                                border-color: $diaNormal $diaLight $diaNormal $diaDark ;
                            }
                            75%{
                                border-color: $diaDark $diaNormal $diaLight $diaNormal ;
                            }
                            100%{
                                border-color: $diaNormal $diaDark $diaNormal $diaLight ;
                            }
                            
                           }




                        }

                    }

                    // #part_2_c_3{

                    //     >div{
                    //         // filter: drop-shadow(0px 0px 15px #ff3e00);
                    //         display: flex;
                    //         align-items: center;
                    //         justify-content: center;
                    //         padding-bottom: 1rem;
                    //         filter: drop-shadow(3px 3px 5px $orange);

                    //         >svg{
                    //             width: 70%;

                    //                 #bulb_lights{
                    //                     path{
                    //                         animation: bulb_animation 3s linear infinite;

                    //                         @keyframes bulb_animation {
                    //                             0%{opacity: 0;}
                    //                             20%{opacity: 1;}
                    //                             98%{opacity: 1;}
                    //                             100%{opacity: 0;}
                    //                         }

                    //                         &:nth-child(1){animation-delay: .1s;}
                    //                         &:nth-child(2){animation-delay: .2s;}
                    //                         &:nth-child(3){animation-delay: .3s;}
                    //                         &:nth-child(4){animation-delay: .4s;}
                    //                         &:nth-child(5){animation-delay: .5s;}
                    //                         &:nth-child(6){animation-delay: .6s;}
                    //                         &:nth-child(7){animation-delay: .7s;}
                    //                         &:nth-child(8){animation-delay: .8s;}
                    //                         &:nth-child(9){animation-delay: .9s;}
                    //                         &:nth-child(10){animation-delay: 1s;}
                    //                         &:nth-child(11){animation-delay: 1.1s;}
                    //                         &:nth-child(12){animation-delay: 1.2s;}
                    //                         &:nth-child(13){animation-delay: 1.3s;}
                    //                         &:nth-child(14){animation-delay: 1.4s;}
                    //                         &:nth-child(15){animation-delay: 1.5s;}
                    //                         &:nth-child(16){animation-delay: 1.6s;}
                    //                         &:nth-child(17){animation-delay: 1.7s;}
                    //                         &:nth-child(18){animation-delay: 1.8s;}
                    //                         &:nth-child(19){animation-delay: 1.9s;}
                    //                         &:nth-child(20){animation-delay: 2s;}

                    //                     }
                    //                 }
                                
                                        
                                
                    //             $g_1:#181818;
                    //             $g_2:#515151;
                    //             $g_3:#929292;
                    //             $g_4:#171717;
                    //             $g_5:#444444;
                    //             $g_6:#606060;
                    //             $g_7:#161616;
                    //             $g_8:#595959;
                    //             $g_9:#151515;
                    //             $g_10:#474747;
                    //             $g_11:#979797;

                    //             $percent: 1%;
                    //                 @for $i from 1 through 10000 {
                    //                 polygon:nth-of-type(#{$i}) {
                    //                     animation-delay: random() + s;
                    //                 }
                    //                 }    
                                
                    //             .cls-1,
                    //             .cls-2,
                    //             .cls-3,
                    //             .cls-4,
                    //             .cls-5,
                    //             .cls-6,
                    //             .cls-7,
                    //             .cls-8,
                    //             .cls-9,
                    //             .cls-10,
                    //             .cls-11{
                    //                 animation: bulb_head_an 10s linear infinite;

                                    
                                    

                    //                 @keyframes bulb_head_an {
                    //                     0%{fill: $g_1;}
                    //                     10%{fill: $g_2;}
                    //                     20%{fill: $g_3;}
                    //                     30%{fill: $g_4;}
                    //                     40%{fill: $g_5;}
                    //                     50%{fill: $g_6;}
                    //                     60%{fill: $g_7;}
                    //                     70%{fill: $g_8;}
                    //                     80%{fill: $g_9;}
                    //                     90%{fill: $g_10;}
                    //                     100%{fill: $g_11;}
                    //                 }
                    //             }

                                

                    //             .cls-1 {
                    //                 fill: #2d2d2d;
                    //               }
                            
                    //               .cls-2 {
                    //                 fill: #1e1e1e;
                    //               }
                            
                    //               .cls-3 {
                    //                 fill: #424242;
                    //               }
                            
                    //               .cls-4 {
                    //                 fill: #262626;
                    //               }
                            
                    //               .cls-5 {
                    //                 fill: #4c4c4c;
                    //               }
                            
                    //               .cls-6 {
                    //                 fill: #282828;
                    //               }
                            
                    //               .cls-7 {
                    //                 fill: #3a3a3a;
                    //               }
                            
                    //               .cls-8 {
                    //                 fill: #2b2b2b;
                    //               }
                            
                    //               .cls-9 {
                    //                 fill: #333;
                    //               }
                            
                    //               .cls-10 {
                    //                 fill: #474747;
                    //               }
                            
                    //               .cls-11 {
                    //                 fill: #3d3d3d;
                    //               }
                            
                    //               .cls-12 {
                    //                 fill: #ff3000;
                    //               }
                            
                    //               .cls-13 {
                    //                 fill: #ed481b;
                    //               }

                    //         }

                           
                    //     }


                    // }

                }

               
            }

            &#main_part_3{
                margin-top: 30rem;
                min-height: 100vh;
            }
        }

    }



    .globe_wrapper{
        width: calc(100vw - $gap);
        height: calc(100vh - $gap);
        position: absolute;
        bottom: $halfgap;
        right: $halfgap;
        padding-left: 20rem;
        padding-top: 20rem;
        overflow: hidden;
        border-radius: $borrad;

        #globe{
            width: 33rem;
            height: 33rem;
            position: absolute;
            bottom: -5rem;
            right: -15rem;
            background-color: $orange;
            z-index: -2;
            border-radius: 50%;
            box-shadow: 0 0 100px $orange;
            transition: .5s;

           &.globe_bigger{
            transition: 1s;
            width: 66rem;
            height: 66rem;
           }

            
        
        }
    }

    

    menu{
        padding: $halfgap;
        width: calc(100vw - $gap);
        height: calc(100vh - $gap);
        position: fixed;
        left: 105%;
        top: $halfgap;
        background-color: #00000096;
        color:$white;
        border: .5rem;
        border: 1px solid $darkestgray;
        border-radius: .5rem;
        transition: .5s;
        

        &.menu_open{
             left: $halfgap !important;
             transition: .6s;

          
        }


        >.menu_bar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.5rem;


            >.menu_bar_right{
                height: 95%;
                aspect-ratio: 1/1;

                >button{
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    padding: .9rem;
                    border-radius: 8px;
                    border: 1px solid $darkgray;

                    >svg{
              

                        .cls-1 {
                            fill: none;
                            stroke: $orange;
                            stroke-miterlimit: 10;
                            stroke-width: 5px;
                        }


                    }
                }
            }
        }

    }

    


    // import

    
    @keyframes godrays {
        from {
            background-position: 50% 50%, 50% 50%;
        }
        to {
            background-position: 350% 50%, 350% 50%;
        }
    }

    .godrays {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        --stripes: repeating-linear-gradient( 100deg, #fff 0%, #fff 7%, transparent 10%, transparent 12%, #fff 16% );

    
        --rainbow: repeating-linear-gradient( 100deg, #9a9a9a 10%, #141414 15%, #9a9a9a 20%, #8f8f8f 25%, #9a9a9a 30% );
        background-image: var(--stripes), var(--rainbow);
        background-size: 300%, 200%;
        background-position: 50% 50%, 50% 50%;
        filter: invert(100%);
        mask-image: radial-gradient(ellipse at 100% 0%, black 30%, transparent 70%);
        pointer-events: none;
        opacity: .3;
        z-index: -1;
    }

    .godrays::after {
        content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: godrays 80s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
    }

    

    

}



@media screen and (min-width: 600px) and (max-width: 1024px)  {

    
    

}
